<h1 ng-bind="vm.title"></h1>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tea</th>
                <th>Subtotal</th>
                <th>Quantity</th>
                <th>Delete Item</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tea in vm.cart">
                <td>
                    <h3 ng-bind="tea.item.name"></h3>
                </td>
                <td><h3 ng-bind="((tea.item.price * tea.qty)/100 | currency)"></h3></td>
                <td><h3 ng-bind="tea.qty"></h3></td>
                <td><button class="btn btn-danger">X</button></td>
            </tr>
        </tbody>
    </table>
</div>